{% extends 'base.html.twig' %}

{% block title %}Edit Gouvernorat{% endblock %}

{% block body %}
    <h1>Edit Gouvernorat</h1>

    {{ include('Back/employeur/gouvernorat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_gouvernorat_index') }}">back to list</a>

    {{ include('Back/employeur/gouvernorat/_delete_form.html.twig') }}
{% endblock %}
